<script lang="ts">

  let lastAction: string;
  let lastResult: string;

  async function apiDropTables() {
    lastAction = "drop tables";
    lastResult = "...";
    const res = await fetch("/api/admin/drop_tables");
    const data = await res.json();
    lastResult = data.success;
  }

  async function apiInitDb() {
    lastAction = "initialize database";
    lastResult = "...";
    const res = await fetch("/api/admin/init");
    const data = await res.json();
    lastResult = data.success;
  }

  async function apiLoadAirports() {
    try {
      lastAction = "load airports";
      lastResult = "...";
      const res = await fetch("/api/admin/load_airports");
      const data = await res.json();
      lastResult = data.success;
    } catch (e) {
      lastResult = "ERR";
    }
  }

  async function apiLoadRoutes() {
    try {
      lastAction = "load routes";
      lastResult = "...";
      const res = await fetch("/api/admin/load_routes");
      const data = await res.json();
      lastResult = data.success;
    } catch (e) {
      lastResult = "ERR";
    }
  }

  let apiRes: any;
</script>

<div class="admin">
  <h1>settings</h1>
  <div class="lastAction">
    {lastAction}
  </div>
  <div class="lastResult">
    {lastResult}
  </div>
  <button on:click={apiDropTables}>drop tables</button>
  <button on:click={apiInitDb}>initialize database</button>
  <button on:click={apiLoadRoutes}>load routes</button>
  <button on:click={apiLoadAirports}>load airports</button>
</div>

<style>
</style>
