<script lang="ts">
  import type { Airport } from "./types";
  export let airport: Airport;
</script>

<div class="airportSearchCard">
  <span class="name">
    {airport.name}
  </span>
  <span class="iataCode">
    ({airport.iataCode})
  </span>
</div>

<style>
  .airportSearchCard {
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.1rem;
    margin: 0.1rem;
  }
</style>


