<script lang="ts">
  import type { Airport } from "./types";
  import {
    showAdmin,
    airportSearchList,
    searchStatisticsChartUrls,
    routeResults
  }from "./stores";

  import Admin from "./Admin.svelte";
  import Intro from "./Intro.svelte";
  import Map from "./Map.svelte";
  import RouteResults from "./RouteResults.svelte";
  import SearchList from "./SearchList.svelte";
  import ToggleAdminControls from "./ToggleAdminControls.svelte";

  let showSummaries = false;
  $: showSummaries = Object.keys($routeResults).length > 0;

  let showSearchList = false;
  $: showSearchList = $airportSearchList.length > 0;

  let expandSidebar = false;
  $: expandSidebar = (
    $searchStatisticsChartUrls.length > 0
    || showSummaries
  );
</script>

<main>
  <div class="sidebar" class:expandSidebar>
    <div class="sidebarContent">
      {#if $showAdmin }
        <Admin />
      {:else if showSummaries }
        <RouteResults />
      {:else if showSearchList }
        <SearchList />
      {:else }
        <Intro />
      {/if }
    </div>
    <!--
    <div class="bottom">
      <ToggleAdminControls />
    </div>
    -->
  </div>
  <div class="mapContainer">
    <Map />
  </div>
</main>

<style>
  main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: max(15rem, 25%);
    padding: 1em;
    transition: max-width 0.5s ease-in-out;
    height: 100%;
    overflow: scroll;
  }

  .sidebar.expandSidebar {
    max-width: 80%;
  }

  .sidebarContent {
    flex-grow: 1;
  }

  :global(.bottom) {
    max-height: fit-content;
  }

  .mapContainer {
    flex-grow: 1;
  }

  :global(h1) {
    color: #cc3e00;
    font-size: 1.3em;
    font-style: italic;
    font-stretch: expanded;
  }
</style>
