<script lang="ts">
  import ToggleAdminControls from "./ToggleAdminControls.svelte";
</script>

<div class="intro">
  <h1>tatsat</h1>
  <p>
    This app shows statistics for international flights to and from US airports, aggregated by route.
  </p>
  <p>
    Click an airport to add it to your search list.
  </p>
  <p>
    <a href="/apidocs">
      API documentation
    </a>
  </p>
  <p>
    <em>International flight dataset:</em>
    <a href="https://www.kaggle.com/parulpandey/us-international-air-traffic-data">
      kaggle.com/parulpandey/us-international-air-traffic-data
    </a>
  </p>
  <p>
    <em>Airport dataset:</em>
    <a href="https://ourairports.com/data/">
      ourairports.com/data
    </a>
  </p>
  <p>
    <em>Code:</em>
    <a href="https://gitlab.com/tlamarre/tatsat">
      gitlab.com/tlamarre/tatsat
    </a>
  </p>
  <p>
    <em>Notes:</em>
  </p>
  <ul>
    <li>Flight data is from January 1990 to March 2020.</li>
    <li>I haven't implemented the UI for selecting date ranges, but you can
      click "API documentation" above to test passing date ranges in API
      requests.</li>
    <li>The map has a bug where markers don't get cleared when repositioning
      after moving the map past the eastern bound. Leaflet's moveend event gets
      called twice and my code doesn't handle that case.</li>
  </ul>
</div>

<style>
</style>
