<script lang="ts">
  import leaflet from "leaflet";
  import { airportSearchList, airportFilter } from "./stores";
  import { onDestroy } from "svelte";
  import { apiCalls } from "./util";

  let map: leaflet.Map;
  let markerLayer: leaflet.LayerGroup;
  let container;

  async function handleMapChange(event?: leaflet.LeafletEvent) {
    // TODO: handle bug where this gets called twice when map moves back from
    // exceeding max longitude.
    if (markerLayer) map.removeLayer(markerLayer);
    const bounds = map.getBounds();

    const airports = await apiCalls.getAirportsInBounds(bounds, $airportFilter);

    const markers = airports.map(([lat, lng, name, iataCode]) => {
      const popupText = `${name} (${iataCode})`;
      const marker = leaflet.marker([lat, lng]).bindPopup(popupText);
      marker.on("click", () => handleClickAirport(name, iataCode));
      return marker;
    });

    markerLayer = leaflet.layerGroup(markers);
    map.addLayer(markerLayer);
  }

  async function handleClickAirport(name: string, iataCode: string) {
    if ($airportSearchList.some((a) => a.iataCode == iataCode)) {
      return; // airport is already in search list
    }

    airportSearchList.update((asl) => [...asl, { name, iataCode }]);
  }

  function load() {
    map = leaflet.map(
      container,
      {
        maxBounds: leaflet.latLngBounds([-179.9, -179.9], [179.9, 179.9]),
        minZoom: 3
      }
    );
    map.setView([0, 0], 1);
    leaflet
      .tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18,
        minZoom: 1.5,
        id: "mapbox/streets-v11",
        tileSize: 256,
        zoomOffset: 0,
      })
      .addTo(map);

    map.on("moveend", handleMapChange);
    handleMapChange();
  }

  onDestroy(() => {
    if (map) map.remove();
  });
</script>

<svelte:head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
    on:load={load}
  />
</svelte:head>

<div class="map" bind:this={container}>
  {#if map}
    <slot />
  {/if}
</div>

<style>
  div {
    width: 100%;
    height: 100%;
  }
</style>
