<script lang="ts">
  // import { apiCalls } from "./util";
  import { routeResults } from "./stores";
</script>

<h1>most traveled routes</h1>
<button on:click={() => routeResults.set({})}>back</button>
<table>
  <tr>
    <th>searched airport</th>
    <th>other airport</th>
    <th>passenger total</th>
  </tr>
  {#each Object.entries($routeResults) as [iataCode, routeDataRows], i (iataCode)}
    {#each routeDataRows as row, j}
      <tr>
        {#if (j == 0)}
          <th scope="rowgroup" rowspan={routeDataRows.length}>{iataCode}</th>
        {/if}
        {#if (row.airport_code != iataCode) }
          <td>{row.airport_code}</td>
        {:else}
          <td>{row.fg_airport_code}</td>
        {/if}
        <td class="numeric">{row.passenger_total}</td>
      </tr>
    {/each}
  {/each}
</table>

<style>
  .searchItem {
    cursor: pointer;
  }

  table {
    padding: 0.5rem;
  }

  th, td {
    text-align: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
  }

  th {
    background-color: #eee;
  }

  td.numeric {
    text-align: right;
    font-family: monospace;
    font-size: 1.1em;
  }

  tr {
    border: 1px solid #ccc;
  }
</style>


