<script lang="ts">
  import { apiCalls } from "./util";
  import {
    airportSearchList,
    searchStatisticsChartUrls,
    routeResults,
  } from "./stores";
  import AirportSearchCard from "./AirportSearchCard.svelte";

  async function clearSearch() {
    airportSearchList.set([]);
    searchStatisticsChartUrls.set([]);
  }

  async function clearResults() {
    searchStatisticsChartUrls.set([]);
    routeResults.set({});
  }

  async function handleClickChartsButton() {
    clearResults();
    const blobs = await apiCalls.getAirportCharts($airportSearchList.map((a) => a.iataCode));
    const urls = blobs.map((blob) => URL.createObjectURL(blob));
    searchStatisticsChartUrls.set(urls);
  }

  async function handleClickSummariesButton() {
    clearResults();
    const iataCodes = $airportSearchList.map((a) => a.iataCode);
    const data = await apiCalls.getAirportSummaries(iataCodes); // TODO: pass other params
    console.log(data);
    const { mostTraveledRoutes } = data;
    console.log(mostTraveledRoutes);
    routeResults.set(mostTraveledRoutes);
  }
</script>

{#if $searchStatisticsChartUrls.length }
  <h1>airport statistics</h1>
  <div>
    <button on:click={() => searchStatisticsChartUrls.set([])}>back</button>
  </div>
  <div class="images">
    {#each $searchStatisticsChartUrls as url}
      <img src={url} alt="chart"/>
    {/each}
  </div>
{:else}
  <h1>search list</h1>
  <div>
    <button class="clearBtn" on:click={clearSearch}>clear</button>
    <button class="chartsBtn" on:click={handleClickChartsButton}>get charts</button>
    <button class="summaryBtn" on:click={handleClickSummariesButton}>get summaries</button>
  </div>
  <div class="searchList">
    {#each $airportSearchList as airport, idx (airport.iataCode)}
      <div class="searchItem" on:click={() => {
        airportSearchList.update((asl) => {
          return [...asl.slice(0, idx), ...asl.slice(idx + 1)];
        })
      }} 
      >
        <AirportSearchCard {airport} />
      </div>
    {/each}
  </div>
{/if}

<style>
  .searchItem {
    cursor: pointer;
  }
</style>

