<script lang="ts">
  import { showAdmin } from "./stores";
  // export let showAdmin: boolean;
</script>

<div class="admin">
  <button
    on:click={() => showAdmin.update(v => !v)}
    class:showAdmin={$showAdmin}
  >
    settings
  </button>
</div>

<style>
  button.showAdmin {
    background-color: #fdd;
  }
</style>
