<!doctype html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>
    pandas sandbox
  </title>
</head>
{% if name %}
  <h2>howdy</h2>
{% else %}
  <h2>hey</h2>
{% endif %}
